.DS_Store
node_modules/
www/
.gradle/
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/.idea/
android/app/.cxx/
android/capacitor-cordova-android-plugins/build/
*.apk
*.aab
!releases/*.apk
.capacitor/
